body{font-family:Verdana,Geneva,Arial,sans-serif;}

Body{Font-size:14px;}

h1{font-size:150%;}

h2{font-size:1.2em;}

h1,h2{font-weight: normal;}

blockquote{font-style:italic;} 

h1,h2{color:#cc6600;}

img{border: thin solid;color:#cc6600;}

hr {border-style:dotted}



